body {
  background-color: #eaf6f6;
  margin-left: 50px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #4e7a7a;
  font-family: serif;
}
h3 {
  color: #4e7a7a;
}
h2 {
  color: #4e7a7a;
}
.message:hover {
  color: rgb(255, 78, 47);
}
.SQA {
  margin-left: 60px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
p {
  margin: 3px;
}
